
* {
    margin: 0;
    padding: 0;
  }
  body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background: url("1.jpg") no-repeat center center/cover;
  }
  
  img {
    width: 140px;
    position: absolute;
    top: 7%;
    left: 0;
    transform: translate(40%, -50%);
}

  .container {
    max-width: 450px;
    width: 100%;
    padding: 20px;
    background-color: #000000c7;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  }
  

  .sign-in h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #333333;
    color: #ffffff;
    font-size: 16px;
  }
  
  .sign-in-button {
    width: 100%;
    padding: 10px;
    background-color: #e50914;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sign-in-button:hover {
    background-color: #f6121d;
  }
  
  .extras {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .extras a {
    color: #b3b3b3;
    text-decoration: none;
  }
  
  .extras a:hover {
    text-decoration: underline;
  }
  
  .new-to-netflix {
    margin-top: 20px;
    font-size: 14px;
  }
  
  .new-to-netflix a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .new-to-netflix a:hover {
    text-decoration: underline;
  }
  
  .disclaimer {
    margin-top: 20px;
    font-size: 12px;
    color: #b3b3b3;
    line-height: 1.4;
  }
  
  .disclaimer a {
    color: #0071eb;
    text-decoration: none;
  }
  
  .disclaimer a:hover {
    text-decoration: underline;
  }
  